<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.ssm.tk.mapper.peng.VipMapper">
  <resultMap id="BaseResultMap" type="com.gym.ssm.entity.peng.Vip">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="hid" jdbcType="INTEGER" property="hid" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="hname" jdbcType="VARCHAR" property="hname" />
    <result column="hpwd" jdbcType="VARCHAR" property="hpwd" />
    <result column="hphone" jdbcType="VARCHAR" property="hphone" />
    <result column="hsex" jdbcType="VARCHAR" property="hsex" />
    <result column="hage" jdbcType="INTEGER" property="hage" />
    <result column="haddress" jdbcType="VARCHAR" property="haddress" />
    <result column="hlapsed" jdbcType="INTEGER" property="hlapsed" />
    <result column="hregister" jdbcType="VARCHAR" property="hregister" />
    <result column="qid" jdbcType="INTEGER" property="qid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="jurid" jdbcType="VARCHAR" property="jurid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    hid, sid, hname, hpwd, hphone, hsex, hage, haddress, hlapsed, hregister, qid, cid, 
    jurid
  </sql>
</mapper>